@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  /* --color-primary: #009ed9; */
  --color-secondary: #ff8800;
  --color-primary: #015293;
  --color-primary-light: #e6f5fc;
  --color-dark: #00111a;
}

body {
  @apply bg-gradient-to-r from-primary-light to-white font-inter font-light;
}

strong {
  @apply font-semibold;
}

* {
  @apply transition-all duration-300;
}

.heading {
  @apply uppercase text-4xl font-extralight text-dark;
}

.btn-primary {
  @apply py-3 px-6 text-white w-fit bg-primary rounded-md text-sm hover:bg-secondary;
}
